@media screen and (max-width: 450px) {
  .header__logo_type_burger {
    min-height: 85px;
    width: calc(100% + 60px);
    box-sizing: border-box;
    padding: 0 30px 0;
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(84, 84, 84, 1);
    border-bottom: 1px solid rgba(84, 84, 84, 1);
  }
}
