.page {
  padding-bottom: 60px;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 880px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 450px) {
  .page {
    padding-bottom: 36px;
  }
}
