.logout__title {
  margin: 0;
  max-width: 180px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  color: #fff;
}

@media screen and (max-width: 450px) {
  .logout__title {
    text-align: center;
  }
}
