.header__btn-burger {
  height: 21px;
  width: 24px;
  position: relative;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  position: relative;
  transition: opacity .5s ease-in;
  display: none;
}

.header__btn-burger:hover {
  cursor: pointer;
  opacity: .6;
}

.header__btn-burger::before {
  content: '';
  height: 3px;
  width: 100%;
  position: absolute;
  background: #fff;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (max-width: 450px) {
  .header__btn-burger {
    display: block;
  }
}
