.header__btn-burger {
  height: 21px;
  width: 24px;
  box-sizing: border-box;
  position: relative;
  transition: opacity 0.5s ease-in;
  display: none;
}

.header__btn-burger:hover {
  cursor: pointer;
  opacity: 0.6;
}

.header__btn-burger::before {
  content: '';
  height: 3px;
  width: 100%;
  position: absolute;
  background: #fff;
  top: 0;
}

.header__btn-burger::after {
  content: '';
  height: 3px;
  width: 100%;
  position: absolute;
  background: #fff;
  bottom: 0;
}

@media screen and (max-width: 450px) {
  .header__btn-burger {
    display: block;
  }
}
