@media screen and (max-width: 450px) {
  .header__btn-burger_is_close {
    width: 20px;
    height: 20px;
    background-image: url(../../../../images/icon/icon-close.svg);
    background-color: transparent;
    background-size: cover;
    transition: opacity 0.5s ease-in;
  }

  .header__btn-burger_is_close:hover {
    cursor: pointer;
    opacity: .6;
  }
}
