@media screen and (max-width: 450px) {
  .header__btn-burger_is_close::before {
    top: 50%;
    transform: rotate(-45deg) translateY(-50%);
    transition: opacity 0.5s ease-in;
  }

  .header__btn-burger_is_close::after {
    bottom: 50%;
    transform: rotate(45deg) translateY(50%);
    transition: opacity 0.5s ease-in;
  }

  .header__btn-burger_is_close:hover {
    cursor: pointer;
    opacity: 0.6;
  }
}
