.logout {
  display: flex;
  justify-content: left;
  gap: 26px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
}

@media screen and (max-width: 400px) {
  .logout {
    margin-right: 30px;
    font-size: 14px;
  }
}
