.header {
  width: 100%;
  min-height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 400px) {
  .header {
    min-height: 85px;
    width: calc(100% + 40px);
  }
}
